.i {
  height: 95vh;
  background-color: var(--bg-one-color);
  position: relative;
  width: 100%;
}

.i-heading {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.i-heading-buttonsContainer {
  display: flex;
  margin-top: 30px;
}

.i-heading-buttonsContainer-apple {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(212, 219, 40, 0.25);
  border-radius: 12px;
  padding: 15px;
  margin-right: 20px;
  cursor: pointer;
  z-index: 5;
}

.i-heading-buttonsContainer-apple > img {
  height: 40px;
  padding: 5px;
}

.i-heading-buttonsContainer-apple > div {
  font-family: var(--font-family-poppins);
  font-size: 1.25rem;
  font-weight: 500;
  padding: 5px;
}

.i-heading-buttonsContainer-playstore {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(212, 219, 40, 0.25);
  border-radius: 12px;
  padding: 15px;
  margin-left: 20px;
  cursor: pointer;
  z-index: 5;
}

.i-heading-buttonsContainer-playstore > img {
  height: 40px;
  padding: 5px;
}

.i-heading-buttonsContainer-playstore > div {
  font-family: var(--font-family-poppins);
  font-size: 1.25rem;
  font-weight: 500;
  padding: 5px;
}

.i-heading-one {
  margin: 0;
  margin-bottom: 15px;
  font-size: 28px;
  font-family: var(--font-family-poppins);
  font-weight: 400;
  color: var(--font-three-color);
}

.i-heading-two {
  margin: 0;
  font-size: 2.125rem;
  font-family: var(--font-family-futura);
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-weight: 400;
  color: var(--font-three-color);
}

.i-heading-text {
  margin: 0;
  width: 30%;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.3rem;
  font-family: var(--font-family-poppins);
  font-weight: 400;
  color: var(--font-two-color);
}

.i-mansion {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 62%;
}

.i-mobile {
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 62%;
}

@media only screen and (min-width: 1920px) {
  .i-heading {
    margin-top: 12.5vh;
  }
  .i-heading-one {
    margin-bottom: 25px;
  }
  .i-heading-two {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .i {
    height: auto;
  }

  .i-heading-one {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .i-heading-two {
    font-size: 1.1rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .i-heading {
    margin-top: 9vh;
  }
  .i-heading-text {
    width: 90%;
  }
  .i-heading-buttonsContainer {
    width: 90%;
  }
  .i-heading-buttonsContainer-apple {
    padding: 10px;
    margin-right: 10px;
  }
  .i-heading-buttonsContainer-apple > img {
    height: 40px;
  }
  .i-heading-buttonsContainer-apple > div {
    font-size: 1rem;
  }
  .i-heading-buttonsContainer-playstore {
    padding: 10px;
    margin-left: 10px;
  }
  .i-heading-buttonsContainer-playstore > img {
    height: 40px;
  }
  .i-heading-buttonsContainer-playstore > div {
    font-size: 1rem;
  }
  .i-mansion-600 {
    position: static;
    margin-top: 40px;
    width: 100%;
    padding-bottom: 40px;
  }
  .i-mobile {
    position: absolute;
    bottom: -10px;
    right: -50px;
    width: auto;
    height: 250px;
  }
}
