.i {
  height: 95vh;
  background-color: var(--bg-one-color);
  position: relative;
}

.i-heading {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.i-heading-button {
  width: 168px;
  height: 64px;
  border-radius: 16px;
  margin-top: 20px;
  background-color: var(--bg-three-color);
  border: none;
  color: white;
  cursor: pointer;
}

.i-heading-one {
  margin: 0;
  font-size: 28px;
  font-family: var(--font-family-poppins);
  font-weight: 400;
  color: var(--font-three-color);
}

.i-heading-two {
  margin: 0;
  font-size: 2.125rem;
  font-family: var(--font-family-futura);
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 400;
  color: var(--font-three-color);
}

.i-heading-text {
  margin: 0;
  width: 30%;
  text-align: center;
  font-size: 12px;
  line-height: 21px;
  font-family: var(--font-family-poppins);
  font-weight: 400;
  color: var(--font-two-color);
}

.i-mansion {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 62%;
}

.i-mobile {
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 62%;
}
